@font-face {
    font-family: "whitrabt";
    src: url('./fonts/whitrabt.TTF') Format('truetype');
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.overall-container {

    text-align: center;
}

.clock-container-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.clock-container-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

#clock {
    border: 2px solid #32cd32;
    border-radius: 20px;
    width: 750px;
    font-family: "whitrabt";
    font-size: 5rem;
    color: #32cd32;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

#clock:hover {
    color: #e23fd5;
    transition: all 0.5s ease-in-out;
}

#clock-two {
    border: 2px solid #32cd32;
    border-radius: 20px;
    width: 750px;
    font-family: "whitrabt";
    font-size: 5rem;
    color: #32cd32;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

#clock-two:hover {
    color: #e23fd5;
    transition: all 0.5s ease-in-out;
}

.space {
    margin: 100px;
}