@font-face {
    font-family: "whitrabt";
    src: url('./fonts/whitrabt.TTF') Format('truetype');
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.overall-container {
    width: 800px;
    text-align: center;
}

.clock-container-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}

.clock-container-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

h1 {
    font-size: 20px;
    color: white;
    text-align: center;
}

#clock {
    border: 2px solid #32cd32;
    border-radius: 20px;
    font-family: "whitrabt";
    font-size: 5rem;
    color: #32cd32;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

#clock:hover {
    color: #e23fd5;
    transition: all 0.5s ease-in-out;
}

#clock-two {
    border: 2px solid #32cd32;
    border-radius: 20px;
    font-family: "whitrabt";
    font-size: 5rem;
    color: #32cd32;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

#clock-two:hover {
    color: #e23fd5;
    transition: all 0.5s ease-in-out;
}

.space {
    margin: 100px;
}

@media only screen and (max-width: 768px) and (orientation : portrait) {

    .overall-container {
        width: 350px;
    }

    #clock {
        width: 90%;
        font-size: 1.75rem;
        margin-left: auto;
        margin-right: auto;
    }


    #clock-two {
        width: 90%;
        font-size: 1.75rem;
        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (max-width: 900px) and (orientation : landscape) {
    .overall-container {
        width: 550px;
    }

    #clock {
        width: 90%;
        font-size: 1.75rem;
        margin-left: auto;
        margin-right: auto;
    }


    #clock-two {
        width: 90%;
        font-size: 1.75rem;
        margin-left: auto;
        margin-right: auto;

    }
}